/*
 * Timeline
 */

[dir] .person0, [dir] .person1, [dir] .person2, [dir] .person3, [dir] .person4, [dir] .person5 {
    border: var(--borderWidth-thin) solid var(--borderColor-emphasis);
    border-radius: var(--borderRadius-medium);
}

/*
 * Statistics chart
 */

.wt-statistics-chart .d-grid .card-body svg > g > rect {
    fill: transparent;
}

.wt-statistics-chart .card-body svg g path {
    stroke: var(--borderColor-muted);
}

.wt-statistics-chart .card-body svg g g text {
    fill: var(--fgColor-default);
}

.wt-statistics-chart .card-body svg g g path {
    stroke: var(--borderColor-emphasis);
}

.wt-statistics-chart .card-body svg g g circle {
    fill: var(--borderColor-emphasis);
}